<div class="navbar">
    <a href="http://localhost:4000/">Home </a>|
    <a href="http://localhost:4000/contacts">Contact me </a>|
    <a href="http://localhost:4000/about">About </a>|
    <a href="http://localhost:4000/profile">Profile </a>
</div>