<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css" />
</head>
<body>

    <div class="kontaktuok">
        <input type="text" placeholder="Vardas">
        <input type="text" placeholder="Telefonas/el. paštas">
        <input type="text" placeholder="Žinutė">
        <button type="button" class="mygtukas">Siųsti</button>
    </div>

</body>
</html>