<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css" />
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Mėgstu kates ir vaflius</h1>
    <footer>
    <%- include('partials/footer') %>
    </footer>
</body>
</html>