<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Contact me</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css" />
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Pakontaktuok mane</h1>
    <h2 style="margin-top: 100px">Dėkui, būtinai perskaitysiu, <%= data.vardas %> !</h2>
    <h2>Atsakymo lauk <%= data.pastas %> </h2>
    <%- include('partials/footer') %>
</body>
</html>