<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Contacts</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css" />
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Čia yra mano profilis</h1>
    <img src="https://dfep0xlbws1ys.cloudfront.net/thumbs0d/97/0d976e3ea740535e0a965061aebe7286.jpg?response-cache-control=max-age=2628000">
    <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/space-cat-with-taco-and-pizza-johnnie-art.jpg">
    <img src="https://i.ytimg.com/vi/hEfC4Hv2aLE/maxresdefault.jpg">
    <img src="http://fatcatart.com/wp-content/uploads/2016/04/space-cat-min.jpg">
    <img src="https://coubsecure-s.akamaihd.net/get/b38/p/coub/simple/cw_timeline_pic/4a50de40162/f8bf217ac170b12b26778/big_1470688084_image.jpg">
    <footer>
    <%- include('partials/footer') %>
    </footer>
</body>
</html>